<div class="div--main">
    <div class="container">
        <div class="columns">
            <div class="midbox column col-4 col-lg-6 col-md-8 col-sm-12 col-mx-auto bg-secondary">
                <div class="px-20 py-30">
                    <div class="text-center">
                        <h1>Sorry...</h1>
                        <p>There seems to be an issue with our regstration. Please try again in a few minutes. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>